<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
  <% include ./partials/_header %>

  <div class="container">
    <h3>Edit <%= shortURL %></h3>
    <p class="p-margin">To change the destination of this tinyURL, enter a new URL below.</p>
    <form action='/urls/<%= shortURL %>' method="POST">
      <div class="input-group mb-3 short-url-input">
        <input class="form-control" id="longURL" type="text" name="longURL" placeholder="<%= longURL %>">
        <div class="input-group-append">
          <input class="btn btn-outline-dark" type="submit" value="Submit">
        </div>
      </div>
    </form>

    <div class="table-responsive"> 
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">tinyURL</th>
              <th scope="col">Destination</th>
              <th scope="col">Total Visits</th>
              <th scope="col">Unique Visits</th>
              <th scope="col">Created</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= shortURL %></td>
              <td><%= longURL %></td>
              <td><%= urls[shortURL].visits %></td>
              <td><%= urls[shortURL].uniqueVisitors.length %></td>
              <td><%= urls[shortURL].created %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <a href="/urls"><button class="btn btn-outline-dark">Back to URLS</button></a>
  </div>
</body>
</html>